.presentation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  line-height: 1.5;
}

.titre-principal-presentation {
  margin-bottom: 3%;
  color: #d9be93;
}

.titre-presentation {
  text-align: center;
}

.titre-presentation {
  color: #d9be93;
  margin-bottom: 15px;
  margin-top: 2%;
}

.paragraphe-presentation {
  margin-bottom: 3%;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
  width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}
