* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 700px) {
  .navbar-mobile {
    display: none;
    visibility: hidden;
  }
}

.navbar-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

.burger,
.cross {
  color: #d9be93;
  font-size: 2rem;
  margin-left: 1rem;
  cursor: pointer;
}

.cross {
  margin-bottom: 205px;
}

.menu {
  position: absolute;
  background-color: white;
  /* padding: 1.2rem; */
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 100%;
  height: 100%;
  margin-top: 500px;
}

.menu a {
  display: block;
  /* margin-bottom: 2rem; */
  text-decoration: none;
  color: #d9be93;
  font-size: 1.18rem;
}

.logo-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
