.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-top: solid 1px rgb(243, 241, 241);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer img {
  width: 50px;
}
